/* src/index.css */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
